<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>

<header style="background-color: cornflowerblue; color: white; padding: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Mediscreen</h1>
            </div>
        </div>
    </div>
</header>

<div th:if="${success}" class="alert alert-success">
    <strong>Success:</strong> <span th:text="${success}"></span>
</div>


<div th:if="${error}" class="alert alert-danger">
    <strong>Error:</strong> <span th:text="${error}"></span>
</div>


<div class="container">
    <h1> All Notes </h1>
    <div class="row">
        <a href="/" class="btn btn-primary btn-sm">Home</a>
        <a href="/PatHistory/add" class="btn btn-primary btn-sm">Add New Note</a>
        <a href="/PatientList" class="btn btn-primary btn-sm">PatientList </a>
<!--    </div>-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label>Lastname :</label>
                <input type="text" class="form-control" readonly th:value="${patientBean.lastname}" />
            </div>
            <div class="form-group row">
                <label>Firstname :</label>
                <input type="text" class="form-control" readonly th:value="${patientBean.firstname}" />
            </div>
        </div>
    </div>
        <div class="row">
            <table class="table table-bordered border-primary">
                    <thead>
                    <tr>
                        <th>Notes</th>
                        <th>Note_Id</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
            </table>
        </div>



</div>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
