<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>

<header style="background-color: cornflowerblue; color: white; padding: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>Mediscreen</h1>
            </div>
        </div>
    </div>
</header>
<div th:if="${success}" class="alert alert-success">
    <strong>Success:</strong> <span th:text="${success}"></span>
</div>


<div th:if="${error}" class="alert alert-danger">
    <strong>Error:</strong> <span th:text="${error}"></span>
</div>


<div class="container">
    <h1> All Notes </h1>
    <div class="row">
        <a href="/" class="btn btn-primary btn-sm">Home</a>
        <a href="/PatHistory/add" class="btn btn-primary btn-sm">Add New Note</a>
        <a href="/PatientList" class="btn btn-primary btn-sm">PatientList </a>
        <!--    </div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label>Lastname :</label>
                    <input type="text" class="form-control" readonly th:value="${patientBean.lastname}" />
                </div>
                <div class="form-group row">
                    <label>Firstname :</label>
                    <input type="text" class="form-control" readonly th:value="${patientBean.firstname}" />
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Notes</th>
                    <th>Note_Id</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="note : ${listNotesByPatId}">
                    <td th:text="${note.notes}"></td>
                    <td th:text="${note.noteId}"></td>
                    <td class="text-center">
                        <a th:href="@{/PatHistory/update/{noteId}(noteId=${note.noteId})}" class="btn btn-primary btn-sm">Update</a>
                        <form th:action="@{/PatHistory/delete/{noteId}(noteId=${note.noteId})}" method="post" onsubmit="return confirm('Are you sure you want to delete this note?')">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



    </div>
</div>
<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
